<script>
    $(document).ready(function () {
        $('ul li ').removeClass('active');
        $('#liHome').addClass('active');
    });
</script>

<div class="row">
    <div class="margin_top">
        <br /><br />
        <h1 class="text-center h1_effect h1_margin text_color">What are you looking for..?</h1>
    </div>
</div>
<div class="container-fluid">
    <section class="main">

        <ul class="ch-grid">
            <li>
                <div class="ch-item-blue ch-img-1 Divitem-format">
                    <div class="ch-info-blue">
                        <a href="#/forex">
                            <h3>Buy Forex</h3>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item-green ch-img-2 Divitem-format">
                    <div class="ch-info-green">
                        <h3>Travel Insurance</h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item-purple ch-img-3 Divitem-format">
                    <div class="ch-info-purple">
                        <h3>Education Loan</h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item-orange ch-img-4 Divitem-format">
                    <div class="ch-info-orange">
                        <h3>Insurance</h3>
                    </div>
                </div>
            </li>
        </ul>

    </section>
</div>










