<div class="login-page">
    <div class="form-page">
        <form id="frmresetpassword">
            <h3 class="header_login">RESET PASSWORD</h3>
            <small class="text-col_blue bold">Please Enter a new password for your account</small>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div layout-gt-sm="row" name="mydiv1">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>New password</label>
                    <input id="txtnewpass" type="password" name="newpass" ng-model="Password">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Confirm password</label>
                    <input id="txtretypepass" type="password" name="cnfpass" ng-model="ConfirmPassword">
                </md-input-container>
            </div>
            <button id="btnResetPassword" class="loginbtn" ng-click="ResetPassword_Click();">Reset Password</button>
        </form>
    </div>
</div>
