<script>
    $(document).ready(function () {
        $('ul li ').removeClass('active');
        $('#liForex').addClass('active');
    });
</script>

<div class="row">
    <div class="margin_top">
        <br /><br />
        <h1 class="text-center h1_effect h1_margin text_color">&nbsp;Remittance</h1>
    </div>
</div>
<div class="container-fluid">
    <section class="main">

        <ul class="ch-grid">
            <li>
                <div class="ch-item-blue ch-img-7 Divitem-format">
                    <div class="ch-info-blue">
                        <a href="#/remittanceorder" ng-click="setPageName('WiredTransfer');">
                            <h3>Wire&nbsp;Transfer</h3>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item-green ch-img-8 Divitem-format">
                    <div class="ch-info-green">
                        <a href="#/remittanceorder" ng-click="setPageName('DemandDraft');">
                            <h3>Demand&nbsp;Draft</h3>
                        </a>
                    </div>
                </div>
            </li>
        </ul>

    </section>
</div>