<div class="row">
    <div class="col-md-12">
        <h1 class="text-center h1_userdetails h1_margin text_color">Where Do You Live Currently..?</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div class="row topmargin">

            <div class="col-md-offset-2 col-md-2">
                <div id="circle1" class="divuserdetails div_live1">
                    <div class="divopac">
                        <img src="assets/images/bombay.png" class="img_userdetails">
                        <label class="labelmargin">Mumbai</label>
                    </div>
                    <input type="radio" name="rdolive" value="male" class="text-center radiobtnmargin">
                </div>
            </div>
            <div class="col-md-2">
                <div id="circle2" class="divuserdetails div_live2">
                    <div class="divopac">
                        <img src="assets/images/BAnglore.png" class="img_userdetails">
                        <label class="labelmargin">Banglore</label>
                    </div>
                    <input type="radio" name="rdolive" value="male" class="text-center radiobtnmargin">
                </div>
            </div>
            <div class="col-md-2">
                <div id="circle3" class="divuserdetails div_live3">
                    <div class="divopac">
                        <img src="assets/images/delhi.png" class="img_userdetails">
                        <label class="labelmargin">Delhi</label>
                    </div>
                    <input type="radio" name="rdolive" value="male" class="text-center radiobtnmargin">
                </div>
            </div>
            <div class="col-md-2">
                <div id="circle4" class="divuserdetails div_live4">
                    <div class="divopac">
                        <img src="assets/images/transparent.png" class="img_userdetails">
                        <label class="labelmargin">Other City</label>
                    </div>
                    <input type="text" placeholder="enter your city" class="form-control">
                </div>

            </div>

        </div>
    </div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="row btnmargin">
    <div class="col-md-offset-5 col-md-2 ">
        <a href="#/nationality">
            <button type="button" class="btn btncolor btn_width">Continue</button>
        </a>
    </div>
</div>
